# OS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env (actual env files - gitignored)
.env
.env.*
.env.local
.env.dev
.env.prod

# Env templates (these ARE committed)
!*.template
!env.*.template

# Node
node_modules/

# Next.js
frontend/.next/
frontend/out/

# Nest build output
backend/dist/
backend/coverage/

# Prisma generated
backend/node_modules/.prisma/

# Misc
*.tsbuildinfo
